<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buzheng.me.mapper.AwardMapMapper" >
  <resultMap id="BaseResultMap" type="com.buzheng.me.domain.entity.AwardMap" >
    <constructor >
      <idArg column="user_award_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="award_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shop_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="award_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="expire_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="used_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="point" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_award_id, user_id, award_id, shop_id, user_name, award_name, expire_time, create_time, 
    used_status, point
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_award_map
    where user_award_id = #{userAwardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_award_map
    where user_award_id = #{userAwardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.buzheng.me.domain.entity.AwardMap" >
    insert into tb_user_award_map (user_award_id, user_id, award_id, 
      shop_id, user_name, award_name, 
      expire_time, create_time, used_status, 
      point)
    values (#{userAwardId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{awardId,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{awardName,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{usedStatus,jdbcType=INTEGER}, 
      #{point,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.buzheng.me.domain.entity.AwardMap" >
    insert into tb_user_award_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userAwardId != null" >
        user_award_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="awardId != null" >
        award_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="awardName != null" >
        award_name,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="usedStatus != null" >
        used_status,
      </if>
      <if test="point != null" >
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userAwardId != null" >
        #{userAwardId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="awardId != null" >
        #{awardId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="awardName != null" >
        #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="usedStatus != null" >
        #{usedStatus,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buzheng.me.domain.entity.AwardMap" >
    update tb_user_award_map
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="awardId != null" >
        award_id = #{awardId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="awardName != null" >
        award_name = #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="usedStatus != null" >
        used_status = #{usedStatus,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
    </set>
    where user_award_id = #{userAwardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buzheng.me.domain.entity.AwardMap" >
    update tb_user_award_map
    set user_id = #{userId,jdbcType=INTEGER},
      award_id = #{awardId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      award_name = #{awardName,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      used_status = #{usedStatus,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER}
    where user_award_id = #{userAwardId,jdbcType=INTEGER}
  </update>
</mapper>